<form method="POST" action="sessions/create">
  <input type="email" name="email" placeholder="name">
  <input type="password" name="password" placeholder="password">
  <input type="submit" value="Login!">
</form>
