<h3> Sign up page </h3>

<form method="POST" action="/users/create">

  <input type="text" name="name" placeholder="name">
  <input type="email" name="email" placeholder="email">
  <input type="password" name="password"placeholder="password">

  <input type="submit" value="Sign up!">
</form>
<!-- use method = "Post" when you want to alter your info  -->
<!-- action is a route is /resource/create-->
<!-- w3schools for "input html" to get all possibilities -->
<!-- input names create your params hash -->
<!-- placeholder is the auto gray text in the box -->
<!-- value sets the button name -->